.debug-controls {
    position: fixed;
    left: 0;
    top: 10%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    opacity: 0.2;
}

.debug-controls:hover {
    opacity: 1;
}

.debug-controls .slider {
    display: flex;
}

.debug-controls .slider * {
    flex-shrink: 0;
}

.debug-controls .slider input {
    margin: 0 1em 0 1em;
}

@media print {
    .debug-controls {
        display: none;
    }
}
