html, body {
    padding: 0;
    margin: 0;
    background-color: #fdf9ef;
    font-family: arial;
    color: #333;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 0;
    pointer-events: auto;
    background-color: rgba(253, 249, 239, 0.75);
    padding-top: 1em;
    text-align: center;
}

header .title {
    font-weight: 800;
    font-size: 5.5em;
}

header .subtitle {
    font-size: 2em;
    margin-top: 25px;
    margin-bottom: 50px;
}

header .tutorial {
    font-size: 0.8em;
}

header .top-right {
    text-align: right;
}

@media print {
    .config-selector {
        display: none;
    }
}

.viewport {
    flex-grow: 0;
}

canvas {
    display: block;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 3em;
    margin-bottom: -100px;
}

.stories {
    display: flex;
    pointer-events: auto;
    font-size: 20px;
    flex-direction: column;
    width: 550px;
}

.stories .story {
    margin-top: 1em;
}

.map-legend {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 3em;
    pointer-events: auto;
    font-size: 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -100px;
}

.map-legend .legend-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.map-legend .legend-text {
    margin: 5px 5px 5px 7px;
}

/* Bigger fonts for print version */
.person .name {
    font-size: 23px;
    transform: translate(0, 3px);
}

.person .dates {
    font-size: 14px;
    transform: translate(0, 2px);
}
