html, body {
    padding: 0;
    margin: 0;
    background-color: #fdf9ef;
    font-family: arial;
    color: #333;
    position: relative;
}

.config-selector {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: auto;
    margin: 1em;
}

.overlay {
    position: absolute;
    left: calc(50% - 500px);
    right: calc(50% - 500px);
    top: 0;
    bottom: 0;
    pointer-events: none;
}

.hidden-overlay footer {
    transform: translateY(100%);
}

.overlay footer {
    background-color: rgba(253, 249, 239, 0.75);
    position: absolute;
    bottom: 0;
    transition: transform 0.1s ease-in-out;
    display: flex;
    align-items: flex-start;
}

.stories {
    display: flex;
    pointer-events: auto;
}

.stories .story {
    margin: 1em;
}

.overlay header {
    background-color: rgba(253, 249, 239, 0.75);
    padding: 1em;
    display: inline-block;
    transition: transform 0.1s ease-in-out;
}

.hidden-overlay header {
    transform: translateY(-100%);
}

.overlay header .title {
    font-weight: 800;
}

.map-legend {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 1em;
    pointer-events: auto;
}

.map-legend .legend-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.map-legend .legend-text {
    margin: 5px;
}
