.scaffolding {
    fill: none;
    stroke: darkgray;
    stroke-width: 1px;
}

.person.deceased {
    opacity: 0.5;
}

.sex-male {
    --person-color: rgb(142, 178, 189);
}

.sex-female {
    --person-color: rgb(232, 144, 150);
}

.sex-other {
    --person-color: gray;
}

.root {
    --person-color: rgb(231, 174, 68);
}

.person.infant circle {
    stroke: var(--person-color);
    stroke-width: 4px;
    fill: none;
}

.person:not(.infant) circle {
    fill: var(--person-color);
}

.person {
    font-family: Arial;
}

.person .name {
    font-size: 22px;
}

.person .dates {
    font-size: 18px;
}

.person.root .name {
    font-size: 40px;
    transform: translate(0, 80px);
}

.person.root .dates {
    font-size: 32px;
    transform: translate(0, 80px);
}

.legend .person.infant circle {
    stroke-width: 2px;
}
